<div class="form-container" *ngIf="filmToEdit">
        <h2 style="display: inline-block;">Edit <b>{{filmToEdit.title}}</b></h2>
        <img class="film-image" src="{{filmToEdit.image}}">
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" [(ngModel)]="filmToEdit.title" id="title" (value)="filmToEdit.title" placeholder="title" class="form-control" >
    </div>

    <div class="form-group">
        <label for="image">Image (Url): </label>
        <input type="text" [(ngModel)]="filmToEdit.image" id="image" value="{{filmToEdit.image}}" placeholder="image(url)" class="form-control" >
    </div>

    <div class="form-group">
        <label for="releaseYear">Release Year: </label>
        <input type="number" [(ngModel)]="filmToEdit.releaseYear" id="releaseYear" value="{{filmToEdit.releaseYear}}" placeholder="Release Year"
            class="form-control" />
    </div>

    <div class="form-group">
        <label for="director">Director: </label>
        <select value="{{filmToEdit.director.id}}" [(ngModel)]="filmToEdit.director.id"  class="form-select">
            <option *ngFor="let director of directors" [value]="director.id">{{director.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="genre">Genre: </label>
        <select value="{{filmToEdit.genre.id}}" [(ngModel)]="filmToEdit.genre.id" class="form-select">
            <option *ngFor="let genre of genres"  [value]="genre.id">{{genre.name}}</option>
        </select>
    </div>

    <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveFilm()">Save</button>

</div>