<div class="body">
    <div class="heading">
        <button class="addFilm-btn" role="button" routerLink="/filmadd">Add Film</button>
        <button class="addFilm-btn" role="button" routerLink="/directoradd">Add Director</button>
    </div>

    <div class="row" style="margin-left: 25px;">
        <div class="hero-container" style="max-width: 350px; margin:5px;" *ngFor="let film of films">
            <div class="main-container">
                <div class="poster-container">
                    <a routerLink="/filmdetail/{{film.id}}"><img src="{{film.image}}" class="poster" /></a>
                </div>
                <div class="film-container">
                    <div class="film__content">
                        <h4 class="film-title">{{film.title}}</h4>
                        <p class="film-info">
                            {{film.genre.name}},
                            {{film.releaseYear}}
                        </p>
                        <p class="film-director">A film by {{film.director.name}}</p>
                        <button class="moreInfo-btn" routerLink="/filmdetail/{{film.id}}">More Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>